h1 {
  color: #dc143c;
  border: solid 3px #dc143c;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.btn {
  width: 150px;
  height: 60px;
  margin: auto;
  padding: 0.5em 1.5em;
  color: #dc143c;
  background: #fff;
  border: solid 2px #dc143c;
  border-radius: 3px;
  transition: 0.4s;
  font-size: 1.2em;
  white-space: nowrap;
}

.btn:hover {
  background: #dc143c;
  color: #FFF;
  border: solid 2px #dc143c;
}

.form {
  text-align: center;
  margin: 50px 20%;
}

.txt {
  text-align: center;
  height: 60px;
  width: 300px;
  margin: auto 100px auto auto;
  border: solid 2px #dc143c;
  border-radius: 3px;
  font-size: 1.3em;
}

.result {
  text-align: center;
  border: solid 2px #dc143c;
  height: 60px;
  width: 400px;
  padding: 10px;
  font-size: 1.4em;
  margin: 50px 40%;
}

